.achievevmentArea {
    background-color: #FAFFFD;
    transition: .5s ease-in !important ;
}

.single-achievement {
    border: none;
    color: #707070 !important;
    box-shadow: 0px 5px 30px rgba(32, 168, 111, 0.1);
    background-color: white;

    .achievementTitle {
        font-size: 40px;
        font-weight: 700;
    }

    .achievementImg {
        font-size: 55px;
    }
}

.achievement1 {
    border-radius: 0 60px;
}
.achievement2 {
    border-radius: 60px 0;
}

.achievementText {
    font-size: 14px !important;
}

.card.single-achievement:hover {
    background: linear-gradient(70deg, #020024 0%, #009efd 0%, #2af598 100%) !important;
    box-shadow: none;
    color: white !important;
}

.card-details {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}